.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  position: relative;
  z-index: 10;
}

.search-bar input {
  width: 80%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-results {
  position: absolute;
  width: 80%;
  background-color: rgb(58, 58, 58);
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  top: 40px;
}

.search-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}

.search-item:hover {
  background-color: #272727;
}

.book-title {
  flex: 1;
}

.delete-button {
  background-color: transparent;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 16px;
}

.delete-button:hover {
  color: darkred;
}
